[submodule "nvim/.config/nvim/pack/minpac/opt/minpac"]
	path = nvim/.config/nvim/pack/minpac/opt/minpac
	url = https://github.com/k-takata/minpac.git
[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
