*.swp
.netrwhist
vim/bundle
.DS_Store

emacs.d.abautista/.cask
emacs.d.abautista/elpa
emacs.d.abautista/bookmarks
emacs.d.abautista/projectile-bookmarks.eld
emacs.d.abautista/ac-comphist.dat
emacs.d.abautista/auto-save-list
emacs.d.abautista/.python-environments
emacs.d.abautista/recentf
emacs.d.abautista/projectile.cache
emacs.d.abautista/ido.last

